chex
einops
jax[cuda12_pip]
jaxlib
optax
tensorflow_probability
opencv-python
pillow
scikit-image
tensorboard
tqdm
pygame
networkx
dotmap
dm_control
dm_env
colored
ruamel.yaml
termcolor
msgpack
gym
cloudpickle
gputil
numpy
psutil
tensorflow-cpu
zmq